<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id='f' name='quesdetails' method="POST" action = '' >

            <div class="form-group">
                <label for="exampleFormControlTextarea1">write your question here</label>
                <textarea name="question" class="form-control" id="exampleFormControlTextarea1" rows="6" ></textarea>
            </div><br>

            <div class="form-group">
                <label for="tags">please add tags related to question</label><br>
                <input name="tags" id="tags" type="text" value="" data-role="tagsinput"></input>
            </div>


            <button class="btn btn-primary text-uppercase btn-sm" type="submit">Post</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>