<div class="menu rounded mt-5" style="box-shadow: 2px 2px 1px 1px black">
    <div class="text-center width-100 mt-0" style="background-color: #c5f0a4"><strong>NOTICES</strong></div>
    <div class="alert alert-primary mt-4 m-2" style="box-shadow: 4px 4px 1px 1px black">
      <strong>Trending Tags</strong>
    </div>
    <div class="alert alert-primary mt-4 m-2" style="box-shadow: 4px 4px 1px 1px black">
      <strong>FAQ</strong>
    </div>
</div>