<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partials/header.ejs %>
        <link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
        <title>Login</title>
    </head>
    <body>
        <div class="login-form">    
            <form action="/home" method="post">
                <div class="avatar"><i class="material-icons">&#xE7FF;</i></div>
                <h4 class="modal-title">Login to Your Account</h4>
                <div class="form-group">
                    <label for="inputUsername"></label>
                    <input name="username" type="text" id="inputUsername" class="form-control" placeholder="Username" required="required">
                </div>
                <div class="form-group">
                    <label for="inputPassword"></label> 
                    <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required="required">
                </div>
                <div class="form-group small clearfix">
                    <label class="checkbox-inline" id="customCheck1" ><input type="checkbox" for="customCheck1"> Remember me</label>
                    <a href="#" class="forgot-link">Forgot Password?</a>
                </div> 
                <input type="submit" class="btn btn-primary btn-block btn-lg" value="Login">              
            </form>			
            <div class="text-center small">Don't have an account? <a href="/signup">Sign up</a></div>
        </div>
        <script src="/js/login.js"></script>
        <% include partials/footer.ejs %>
    </body>
</html>