<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partials/header.ejs %>
        <link rel="stylesheet" href="../public/stylesheets/signup.css" type="text/css">
        <title>Login</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                    <div class="card card-signin my-5">
                        <div class="card-body">
                            <h5 class="card-title text-center">User Registration</h5>
                            <form class="form-signup" method="POST" action="/user/register">

                                <div class="form-label-group">
                                    <label for="inputName">Name</label>
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <input name="firstname" type="text" id="inputName" class="form-control"
                                                   placeholder="First Name" required autofocus>
                                        </div>
                                        <div class="col-md-6">
                                            <input name="lastname" type="text" id="inputName" class="form-control"
                                                   placeholder="Last Name" required autofocus>
                                        </div>
                                    </div>
                                </div>
                
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input name='email' type="email" class="form-control" id="exampleInputEmail1"
                                           aria-describedby="emailHelp" placeholder="Enter email">
                                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                </div>
                
                                <div class="form-label-group">
                                    <label for="inputConact">Contact</label>
                                    <input name="contact" type="text" id="inputConact" pattern="^\d{10}$" class="form-control" placeholder="Contact" required >
                                </div>
                                <hr>
                                <div class="form-label-group">
                                    <label for="inputUsername">Username</label>
                                    <input name="username" type="text" id="inputUsername" class="form-control" placeholder="Username" required>
                                </div>

                                <div class="form-label-group">
                                    <label for="inputPassword">Password</label>  
                                    <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                                </div>

                                <div class="form-label-group">
                                    <label for="inputPassword2">Repeat Password</label>  
                                    <input name="password2" type="password" id="inputPassword2" class="form-control" placeholder="Repeat Password" required>
                                </div>
                                <span id='message'></span>
                                <hr>
                                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="../public/js/signup.js"></script>
        <% include partials/footer.ejs %>
    </body>
</html>