.body {
  background-color: #94ceca;
  overflow:auto;
}
.header { grid-area: header; }
.item2 { grid-area: menu; }
.main { grid-area: main; }
.ask { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
}

.grid-container > div {
  padding: 10px 0;
}

.card {
  margin: 2%
}

.main   {
  background-color: #94ceca;
}