
.header { grid-area: header; }
.menu { grid-area: menu; 
        background: white}
.questions { grid-area: main; }
.askbtn { grid-area: right; }
.item5 { grid-area: footer; }


.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  grid-gap: 10px;
  padding: 10px;
}

.grid-container > div {
  padding: 10px 0;
}

.card {
  margin: 2%
}